@import '@/styles/common/global.scss';

.update_profile{
    .section_hero{
        .wrapper{
            @include styleGrid("wrapper");
        }
        .container{
            display: flex;
            justify-content: space-between;
            padding-top: 200px;
            .container_form{
                @include styleGrid("width", 4);
                h1{
                    @include styleH("h2");
                    margin-bottom: 48px;
                    em{
                        color: $colorPrimary_1;
                    }
                }
                .container_row{
                    display: flex;
                    justify-content: space-between;
                    .container_input{
                        @include styleGrid("width", 2);
                    }
                }
                .container_input{
                    margin-bottom: 8px;
                    .label{
                        @include styleH("h5");
                    }
                    input{
                        margin-top: 12px;
                        outline: none;
                        border: 1px solid $colorGreyscale_4;
                        height: 40px;
                        width: 100%;
                        padding: 10px 16px;
                        border-radius: 12px;
                        @include styleP("medium");
                        &::placeholder{
                            color: $colorGreyscale_3;
                        }
                    }
                    .error{
                        display: flex;
                        opacity: 0;
                        visibility: hidden;
                        gap: 8px;
                        align-items: center;
                        margin-top: 4px;
                        @include styleP("small", $colorError);
                    }
                    &.style_error{
                        input{
                            border-color: $colorError;
                        }
                        .error{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                .container_submit{
                    margin-top: 24px;
                    .btn{
                        width: 100%;
                        @include styleButton("medium", "1");
                    }
                    .error{
                        display: flex;
                        opacity: 0;
                        visibility: hidden;
                        gap: 8px;
                        align-items: center;
                        margin-top: 4px;
                        @include styleP("small", $colorError);
                    }
                    &.style_error{
                        .error{
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
            .container_img{
                @include styleGrid("width", 5);
                height: 520px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background-color: $colorSecondary_1;
                border-radius: 32px;
                img{
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    @media (width <= $breakPoint_tablet) {
        .section_hero{
            .container{
                flex-direction: column;
                gap: 32px;
                padding-top: 120px;
                padding-bottom: 64px;
                .container_form{
                    width: 100%;
                    .container_row{
                        flex-direction: column;
                        gap: 8px;
                        .container_input{
                            width: 100%;
                        }
                    }
                }
                .container_img{
                    width: 100%;
                }
            }
        }
    }
}